<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseGuardian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MouseGuardian.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="horline" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="verline" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="coor" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="lineColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="disableMirror" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="tool1Loc" serializeAs="String">
                <value>5, 0</value>
            </setting>
            <setting name="tool2Loc" serializeAs="String">
                <value>90, 0</value>
            </setting>
        </MouseGuardian.Properties.Settings>
    </userSettings>
</configuration>